.modal-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 99999 !important;
}

.modal-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-box {
    background-color: white;
    position: relative;
    transform: scale(0.85);
    transition: transform 0.3s ease;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.modal-overlay.show .conteudo-modal {
    transform: scale(1);
}

.fechar-modal {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 35px;
}

.modal-body i {
    font-size: 5rem;
    color: #FFA826;
}


.titulo-modal {
    font-size: 16px;
    font-weight: 600;
    color: #151515;
}

.subtitulo-modal {
    font-size: 12px;
    font-weight: 400;
    color: #4A4A4A;
}

.modal-botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}